<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chanshiyu.moechat.mapper.MessageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chanshiyu.moechat.entity.Message">
        <id column="id" property="id" />
        <result column="from_id" property="fromId" />
        <result column="from_username" property="fromUsername" />
        <result column="to_id" property="toId" />
        <result column="to_type" property="toType" />
        <result column="message" property="message" />
        <result column="create_time" property="createTime" />
    </resultMap>

</mapper>
